.commitment__content{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 65px;
    margin-bottom: 250px;
 }
 
 .commitment__info{
    width: 540px;
    margin-left: 125px;
    vertical-align: middle;
 }
 
 .commitment__title{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
 }
 
 
 .commitment__text{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;  
    margin: 0;
    padding: 0;
 }
 
 