.hero__content{
    width: 1240px;
    height: 450px;
    background-image: url(../images/about-bgi.png);
    margin-bottom: 168px;
    
 }

 .hero__title{
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   color: #FEFCF7;
   margin: 0;
   padding: 0;
   padding-top: 137px;
   padding-left: 85px;
 }

.hero__info{
   width: 445px;
   height: 104px;
   margin: 0;
   padding: 0;
   margin-bottom: 24px;
   margin-left: 85px;
}

.hero__text{
   font-family: Barlow;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   color: #FEFCF7;
} 
