.quality{
    margin-bottom: 168px;
 }
 
 .quality__content{
    width: 1240px;
    position: relative;
    z-index: 1;
    display: flex;
    background-color: #2C343E;
    border-radius: 10px;
    padding: 88px 0 176px 85px;
 }
 
 .quality__info{
    width: 540px;
    margin-right: 92px;
 }
 
 .quality__title{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin: 0;
    margin-bottom: 2rem;
 }
 
 .quality__text{
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin: 0;
 }
 
 .quality__img{
    position: absolute;
    z-index: 2;
    right: 78px;
    bottom: 85px;
    border-radius: 8px;
 }
 